<div ng-controller="MainCtrl" class="main">
<div class="overlay"></div>
  <div class="content">
  <a class="nav-text" href="/auth/logout" ng-hide="isLogged" target="_self">Log out</a>
  <a href="/restaurant/create" target="_self" class="nav-text">Add a Restaurant</a>
    <div class="headline">
      <h1>SnackSnap</h1>
      <p class="subtitle">Find the best places to eat near your work or school.</p>
    </div>
  <div class="options">
  <div class="main-search">
    <rating required ng-model="search.price" max="3" id="price" state-on="'fa fa-usd fa-5x'" state-off="'fa fa-usd dollar-off fa-5x'" class="center-block" class="rating" on-hover="hoverPrice(value)" on-leave="hoverPrice(4)"></rating>
  </div>
  <div class="main-search">
    <rating required ng-model="search.heatlh" id="health" max="3" state-on="'fa fa-heart fa-5x'" state-off="'fa fa-heart-o fa-5x'" class="center-block rating" on-hover="hoverHeart(value)" on-leave="hoverHeart(4)"></rating>
  </div>
 

   <div ng-controller="ModalCtrl">


    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header">
            <h3 class="modal-title">Welcome to SnackSnap</h3>
        </div>

        <div class="modal-body">
            snackSnap is all about using the knowledge of your classmates and colleagues to find the best places to eat near you. Login or sign up with the button below, and start discovering new restaurants today.

            <div class="modal-footer">
              <a href="/auth/github" target= "_self" class="search fa fa-github btn btn-block btn-social btn-github">
              Sign in with GitHub
              </a>
            </div>

        </div>   
    </script>
    <div class="label-container">
      <h4><span class="label label-default text-center search-label">{{heartText}}</span></h4>
      <h4><span class="label label-default text-center search-label">{{priceText}}</span></h4><br>
    </div>
    <button id="search" ng-click="search('results')">Search!</button><br>
    <span class='label label-default' ng-show="searching">Searching...</span>
    <span class="label label-danger" ng-show="noResults">Your search didn't return any results. Perhaps nothing's open?</span>
  </div>


</div>
</div>  

<!--<form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required">
              //   <div class="form-group has-feedback">
              //     <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="email" ng-model="email" placeholder="Email" required="" autofocus="">
              //     <span class="ion-at form-control-feedback"></span>
              //   </div>

              //   <div class="form-group has-feedback">
              //     <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="password" name="password" ng-model="password" placeholder="Password" required="">
              //     <span class="ion-key form-control-feedback"></span>
              //   </div>

              //   <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-sm btn-block btn-success" disabled="disabled">Log in</button>
              //   <br>
              //   <p class="text-center text-muted">
              //   <small>Dont have an account yet? <a href="/signin">Sign up</a></small>
              //   </p>
              // </form>
-->


